<div id="divClaimList" *ngIf="!claimOpen">
  <div *ngIf="(loadingClaims || loadingCounter) && !noResult" class="text-center mx-auto">
    <img src="assets/img/loading.gif">
  </div>
  <div id="countResults" class="row w-50 mx-auto" *ngIf="claimsCount && claims && claims.length !=0">
    <span class="col-lg-2"></span>
    <p class="col-lg-8 text-center">{{claimsCount}} results</p>
    <button id="btnExport" (click)="openExport()" class="col-lg-2 btn btn-primary">Export</button>
  </div>
  <div *ngIf="noResult" class="text-center resultMsg">
    <p>No results.</p>
  </div>
  <div *ngIf="claimsCount && claims" id="listPreview" class="w-50 mx-auto">
    <a *ngFor="let claim of claims" target="_blank" routerLink="/detail/{{claim.id}}" (click)="openClaim(claim.id);$event.preventDefault();$event.stopPropagation()" class="claim-preview-card">
      <div class="claim-box pmd-card pmd-card-default pmd-z-depth pmd-card-custom-view">
        <div class="card-body d-flex flex-row">
          <div class="text-center source-link">
            <a [href]="claim.link" class="pmd-avatar-list-img mx-auto">
              <img class="article-link" src="assets/img/article-icon.png" width="40" height="40">
            </a>
            <p *ngIf="claim.date !== 'Unknown'" class="mx-auto">{{claim.date | date:'dd/MM/yy'}}</p>
            <p *ngIf="claim.date == 'Unknown'" class="mx-auto">{{claim.date}}</p>
          </div>
          <div class="media-body">
            <h3 class="card-title">{{claim.text}}</h3>
            <strong class="card-subtitle">By {{claim.author}}</strong>
          </div>
          <div class="text-center truth-rating">
            <i *ngIf="claim.truthRating === 1" class="mx-auto fa fa-thermometer-empty truth-false fa-3x"></i>
            <i *ngIf="claim.truthRating === 2" class="mx-auto fa fa-thermometer-half truth-mixed fa-3x"></i>
            <i *ngIf="claim.truthRating === 3" class="mx-auto fa fa-thermometer-full truth-true fa-3x"></i>
            <i *ngIf="claim.truthRating === -1" class="mx-auto fa fa-question-circle truth-other fa-3x"></i>
            <p class="mx-auto">{{claim.ratingName}}</p>
          </div>
        </div>
      </div>
    </a>
    <div [hidden]="!(claims && claims.length > 0)" class="mx-auto pagination-box">
      <mat-paginator class="text-center mx-auto col-md-7"
        [length]="claimsCount"
        [pageSize]="10"
        [pageIndex]="pageIndexForPaginator"
        [showFirstLastButtons]="true"
      [hidePageSize]="true"
      (page)="pageChange($event)">
      </mat-paginator>
      <mat-form-field class="col-sm-3">
        <input (keydown)="enterPageJump($event)" matInput [(ngModel)]="pageIndex" type="number" step="1" min="1" max="{{getNbMaxPages()}}">
      </mat-form-field>
      <button (click)="jumpPage()" class="col-lg-2" mat-button>Jump</button>
    </div>
  </div>
</div>
<div *ngIf="claimOpen" id="back-action" class="text-center mx-auto">
  <button class="btn btn-dark" (click)="goBackList()"><span class="fa fa-arrow-left"> Back</span></button>
</div>
<app-claim-detail *ngIf="claimOpen" [contentMarginClass]="'margin-t-50'" [claimId]="selectedClaimId"></app-claim-detail>
