<div *ngIf="noResult" class="text-center resultMsg">
  <p>No results.</p>
</div>
<div *ngIf="endResults" class="text-center mx-auto">
  <p class="resultMsg">End of results.</p>
  <button (click)="clickPrevious()" class="btn btn-primary">Go back to previous page</button>
</div>
<div id="listPreview" class="w-50 mx-auto">
  <a class="claim-preview-card" routerLink="/" *ngFor="let claim of claims">
    <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-view">
      <div class="card-body d-flex flex-row">
        <div class="text-center source-link">
          <a href="{{claim.link}}" class="pmd-avatar-list-img mx-auto">
            <img src="../../assets/img/www-icon.png" width="40" height="40">
          </a>
          <p class="mx-auto">{{claim.date}}</p>
        </div>
        <div class="media-body">
          <h3 class="card-title">{{claim.text}}</h3>
          <strong class="card-subtitle">By {{claim.author}}</strong>
        </div>
        <div class="text-center truth-rating">
          <i *ngIf="claim.truthRating === 1" class="mx-auto fa fa-thermometer-empty truth-false fa-3x"></i>
          <i *ngIf="claim.truthRating === 2" class="mx-auto fa fa-thermometer-half truth-mixed fa-3x"></i>
          <i *ngIf="claim.truthRating === 3" class="mx-auto fa fa-thermometer-full truth-true fa-3x"></i>
          <i *ngIf="claim.truthRating === -1" class="mx-auto fa fa-question-circle truth-other fa-3x"></i>
          <p class="mx-auto">{{claim.ratingName}}</p>
        </div>
      </div>
    </div>
  </a>
  <div *ngIf="claims.length > 0" class="pagination-box mx-auto text-center">
    <button *ngIf="request.currentOffset !== 0"  (click)="clickPrevious()" class="btn btn-primary"><span class="fa fa-arrow-left"></span></button>
    <button *ngIf="request.currentOffset == 0" disabled class="btn btn-primary"><span class="fa fa-arrow-left"></span></button>
    <button [hidden]="(this.request.getCurrentPageIndex() < index && this.claims.length < this.request.getLimit())" [disabled]="(index === request.getCurrentPageIndex())" [className]="index === request.getCurrentPageIndex() ? 'btn-primary' : ''" (click)="loadPage(index)" *ngFor="let index of pagesIndex" class="btn">{{index}}</button>
    <button [disabled]="this.claims.length < this.request.getLimit()" (click)="clickNext()" class="btn btn-primary"><span class="fa fa-arrow-right"></span></button>
  </div>
</div>
