.source-link {
  margin-right: 16px;
}

.truth-rating {
  margin-left: 16px;
  width: 80px;
}

.claim-preview-card {
  color:inherit;
  text-decoration: none;
  cursor: pointer;
}

.pagination-box {
  display: flex;
  background-color: white;
  margin-bottom: 30px;
}

.pagination-box button {
  margin-left: 5px;
  margin-right: 5px;
}

.resultMsg {
  font-weight: bold;
  font-size: 100px;
  margin-top: 100px;
}

#back-action {
  margin-top: 20px;
  margin-bottom: 20px;
}

#countResults {
  font-weight: bold;
  font-size: larger;
}

#divClaimList {
  margin-top: 20px;
}

#btnExport {
  margin-bottom: 1rem;
  font-weight: bold;
}

