<h1>What about claimsKG ? </h1>

<div class="descriptionprojet">
<h2> Project Description </h2>

  <p><li>ClaimsKG: A Model and a Live Knowledge Graph of Annotated Claims </li></p>
<p>
Fake news have become an increasingly important issue, from both a societal as well as a research perspective. <br />
Several affiliated research directions in this broad context include investigations of how fake news spread on the Web or in social platforms,approaches aiming at classifying documents or sources of news. <br />
The availability of labelled ground truth data of claims, their corresponding metadata and, in particular, their truth values is essential in order to enable supervision of machine learning methods, reproduction and explainability of the results, and to facilitate fair evaluation and follow-up work. <br/>
In addition, claims usually are not considered in isolation, but the majority of works investigate documents, such as Web pages, social media posts, which purport a particular claim, i.e. where claims are linked to corresponding documents with respect to their relevance or stance. <br/>
<br/>
Reproducing such research requires not only archiving claims and their truth values at a particular point in time, but also archiving of the respective documents, in order to account for the continuous evolution of Web content. <br/>
To our knowledge, no reasonably large corpus of structured information about claims and their associated metadata and documents has been made publicly available. We attempt to fill this gap by introducing ClaimsKG, a live knowledge graph (KG) of linked annotated claims which facilitates structured queries about statements, their truth values and other kinds of metadata.
</p>
</div>


<div class="explicationprocessus">
<h2> ClaimsKG process </h2>	
   <img src="assets/img/claimskgprocess.png" height="500" /> 
</div>

<br/>

<h2> Contacts </h2>		
<ul>
	<li>TCHECHMEDJIEV Andon, PhD. Adjunct Assistant Professor in NLP, Comp. Ling and Biomedical Informatics
	at Ecole des Mines d'Alès-LGI2P, Site Croupillac, 7 rue Jules Renard, Alès - 30319 Cedex FRANCE | <a href="http://andon.tchechmedjiev.eu/"> Andon Tchechmedjiev </a></li>
	<li>TODOROV Konstantin, PhD. Associate Professor at the University of Montpellier, researcher at the  LIRMM laboratory within the FADO group, 161 rue Ada - 34095 Montpellier Cedex 5 FRANCE | <a href="https://www.lirmm.fr/users/utilisateurs-lirmm/konstantin-todorov"> Konstantin Todorov </a></li>
	<li>LIRMM laboratory, 161 rue Ada - 34095 Montpellier Cedex 5 FRANCE | <a href="http://www.lirmm.fr/"> Lirmm.fr </a></li>
	<li>L3S Research Centre, Appelstr. 9a - 30167 Hannover GERMANY | <a href="https://www.l3s.de/en"> L3S.de </a></li>
	<li>GESIS - Leibniz-Institute for the Social Sciences, B2,1 - 68159 Mannheim GERMANY | <a href="https://www.gesis.org/en/en/home/"> Gesis.org </a></li>

</ul>

<br/>

<ul>
Website created by : ALEZOT Josselin, GASQUET Malo, GUENEAU Elisa, MEGHAZI Imran. Students at the University of Montpellier (FRANCE)
</ul>