<br/>
<br/>
<h2> Contacts </h2>	
<br/>
<ul>
	<li><strong>TCHECHMEDJIEV Andon </strong>, LGI2P / IMT Mines Ales / University of Montpellier (FRANCE) | <a href="http://andon.tchechmedjiev.eu/"> Andon Tchechmedjiev </a></li>
	<li><strong>TODOROV Konstantin</strong>, LIRMM / University of Montpellier (FRANCE) | <a href="https://www.lirmm.fr/users/utilisateurs-lirmm/konstantin-todorov"> Konstantin Todorov </a></li>
	<li><strong>LIRMM laboratory</strong>, 161 rue Ada - 34095 Montpellier Cedex 5 FRANCE | <a href="http://www.lirmm.fr/"> Lirmm.fr </a></li>
	<li><strong>LGI2P laboratory</strong>, IMT Mines Ales - 7 rue Jules Renard - 30319 Alès FRANCE | <a href="https://lgi2p.mines-ales.fr/"> LGI2P.mines-ales.fr </a></li>
	<li><strong>L3S Research Centre</strong>, Appelstr. 9a - 30167 Hannover GERMANY | <a href="https://www.l3s.de/en"> L3S.de </a></li>
	<li><strong>GESIS - Leibniz-Institute for the Social Sciences</strong>, B2,1 - 68159 Mannheim GERMANY | <a href="https://www.gesis.org/en/en/home/"> Gesis.org </a></li>

</ul>

<br/>

<ul>
Website created by : ALEZOT Josselin, GASQUET Malo, GUENEAU Elisa, MEGHAZI Imran. Students at the <a href="https://www.umontpellier.fr/en"> University of Montpellier </a>(FRANCE)
</ul>