<br/>
<br/>
<h2> Contacts </h2>	
<br/>
<ul>
  <li><strong>Stefan Dietze</strong>, GESIS - Leibniz Institute for the Social Sciences (Germany) | <a href="https://www.gesis.org/"> GESIS </a></li>
  <li><strong>Pavlos Fafalios</strong>, L3S Research Centre (Germany) | <a href="https://www.l3s.de/">L3S Research Centre</a></li>
  <li><strong>Andon Tchechmedjiev</strong>, LGI2P / IMT Mines Ales / University of Montpellier (FRANCE) | <a href="https://lgi2p.mines-ales.fr/"> LGI2P </a></li>
  <li><strong>Konstantin Todorov</strong>, LIRMM / University of Montpellier (FRANCE) | <a href="https://www.lirmm.fr/"> LIRMM </a></li>
  <li><strong>Benjamin Zapilko</strong>, GESIS - Leibniz Institute for the Social Sciences (Germany) | <a href="https://www.gesis.org/"> GESIS </a></li>
  <li><strong>Matthaeus Zloch</strong>, GESIS - Leibniz Institute for the Social Sciences (Germany) | <a href="https://www.gesis.org/"> GESIS </a></li>

</ul>

<br/>

<ul>
Website created by : ALEZOT Josselin, GASQUET Malo, GUENEAU Elisa, MEGHAZI Imran. Students at the <a href="https://www.umontpellier.fr/en"> University of Montpellier </a>(FRANCE)
</ul>
<ul>
  Logo designed by : <a href="mailto:laure.mondoloni@gmail.com">MONDOLONI Laure</a>, Analyst Developer.
</ul>
