<div *ngIf="!stats" class="text-center mx-auto">
  <img src="assets/img/loading.gif">
</div>
<div *ngIf="stats" id="table-stat" class="mx-auto">
  <h1 class="text-center"><strong>ClaimKG Statistics</strong></h1>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Property</th>
      <th scope="col">Total</th>
      <th scope="col">True</th>
      <th scope="col">False</th>
      <th scope="col">Mixture</th>
      <th scope="col">Other</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stat of stats">
      <th scope="row">{{stat.name}}</th>
      <td>{{stat.total}}</td>
      <td>{{stat.true}}</td>
      <td>{{stat.false}}</td>
      <td>{{stat.mixture}}</td>
      <td>{{stat.other}}</td>
    </tr>
    </tbody>
  </table>
</div>


<br/>

<div class="correspondance">
	We have adopted a common denominator approach to mapping rating values. For each of the sources we have build a correspondence table. <br/>
Here we list the mappings for each fact checking site :  <a href="https://markdownshare.com/view/31354bfe-fbe0-47a6-b0ef-ff42f1554cc0" target="_blank" class="link-new-tab"> Rating normalization tables for ClaimsKG </a>
</div>
