#loading {
  width: 400px;
}

#notFound {
  font-weight: bold;
  font-size: 100px;
}

#claimContent {
  margin-top: 100px;
}

#claimText {
  font-size: 32px;
}

#link-source {
  width: 66px;
}

#no-source {
  width: 70px;
}

#headInfos {
  margin-top: 15px;
}

.claimInfos {
  font-style: italic;
  font-size: 20px;
}

#panel-infos-claim {
  margin-bottom: 3em;
}

#link-article {
  padding-left: 11px;
}
