#search-block {
  margin-top: 60px;
}

.custom-chip {
  margin: 5px 5px 5px 5px;
  background-color: #4285f4;
  color: white;
}

.custom-chip:hover {
  color:#fff;
  background-color:#1266f1
}

#back-action {
  margin-top: 20px;
}

#btn-search {
  margin-top: 20px;
}

.help-circle {
  cursor: pointer;
}
